
h1
{
	color: aqua; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("bg1.jpg");
}

#myCanvas{
	border-width: 10px;
	border-radius: 5px;
	background-color: azure;
	border-style: ridge;


}
